body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.page {
    /*border: 1px solid red; */
    width: 1000px;
    margin: 65px auto 0;
    
}


nav {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    margin-bottom: 55px;
    
   

}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    
}

ul a {
    color: 89C5CC;
}

ul li :hover {
    font-weight: bold;
}

h1 {
    font-family: 'Mulish', sans-serif;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.bolinhas {
    justify-content: right;
    margin-right: 0;

}

