body, .page {
    width: 100%;
    
}

header {
    display: flex;
    font-size: 25px;
}

main { 
    display: flex;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.bolinhas {
    justify-content: right;
    margin-right: 0;

}

